---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

ColumnLimit: 80
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8

AccessModifierOffset: -4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceBeforeRangeBasedForLoopColon: true

IndentCaseLabels: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
...
